/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) {


}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {


}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {
  .subhead {
    padding-left: 75px;
  padding-right: 75px;}
}


/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {


}

body {
  font-family: 'PT Serif', serif;
}
/*.container {
  margin-top: 24px;
  margin-bottom: 24px;
}*/
.star {
  display: inline-block;
  text-align: center;
  width: 15px;
  margin: 10px;
}
.star-subhead {
  display: inline-block;
  padding: 0;
  width: 15px;
  margin: 10px;
}
.star-blue {
  margin-right: 10px;
  width: 15px;
}

.intro-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
  margin-top: 25px;
  margin-bottom: 25px;
  width: auto;
}
.caption {
  text-align: center;
  width:100%;
  max-width:900px;
  margin:0 auto;
  padding-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
  color:#999;
}
.bg-dark {
background:#000 !important;
}
.nav-link {
  display: flex;
  justify-content: flex-end;
}
ul.navbar-nav {
margin-left: auto;
}
.nav-item{
  display: inline;
  align-items: flex-end;
  padding-right: 20px;
  color: white;
}
.navbar {
font-family: 'Montserrat', sans-serif;
}
.navbar-toggler {
  margin-left: auto;
}
.stack-image {
  width:100%;
  max-width:900px;
  margin:0 auto;
  padding-top:30px;
  margin-top: 24px;
  margin-bottom: 5px;
  /*when I put ion margin-bottom: 24px; it made the caption drop lower than what is in the example*/
  display: block;
}
.graphic-container {
padding-top:30px;
padding-bottom:30px;
border-top:1px solid #cdcdcd;
border-bottom:1px solid #cdcdcd;
font-family: 'Montserrat', sans-serif;
margin:0 auto;
}
.graphic-container h4 {
  font-size: 1.5em;
  }
p{
line-height:180%;
}
.red {
color: #e0162b;
}
.blue {
color: #0052a5;
}
.headline {
  text-align: center;
  font-size: 3em;
  font-family: 'Montserrat';
}
.chapter {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 2em;
  font-weight: 700;
  padding-top: 20px;
  width: 100%;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
}
.centered {
  text-align: center;
}
h2 {
  font-family: 'Montserrat';
  margin-bottom: 24px;
  font-size: 1.5em;
}
.subhead {
  width: 100%;
  text-align: center;
  margin: 0; auto;
  padding-left: 50px;
  padding-right: 50px;
}
.navbar-brand {
  font-family: 'Montserrat';
  color: white;
  font-size: 1.25em;
}
.byline {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
}

.container-fluid.footer {
  background-color: black;
  color: white;
  font-family: 'Montserrat';
  position: absolute;
  margin: 0;
  padding: 25px;
  width: 100%;
  height: 60px;
  text-align: center;
}
.text {
  margin-top: 24px;
  margin-bottom: 24px;
  color: black;
  font-family: PT Serif;
  max-width: 100%;
  font-size: 1em;
}
.hero-image {
  text-align: center;
  display: block;
  padding-top: 30px;
  width: 100%;
}
.hero-caption {
  font-style: italic;
  font-size: 12px;
  margin-bottom: 30px;
}
