
/*styles for my resume*/
#name, .section-header, .job-title, .organization, .date, p, .description, .menu, li {
    font-family: "Open Sans", arial, sans-serif;
    color: #444;
    font-size: 16px;
  }

/*my name*/
#name {
  color: #33485e;
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  border-bottom: solid 1px #33485e;
  margin: 0 auto;
  }
/*title underneath name*/
strong {
  color: #33485e;
  font-size: 24px;
  text-transform: uppercase;
}
/*section*/
.section-header {
  font-size: 24px;
  text-transform: uppercase;
  background-color: #33485e;
  color: white;
  font-weight: 400;
  margin: 20px 0px 10px 0px;
  max-width: 400px;
}
/*job title*/
.job-title {
  font-size: 24px;
  font-weight: 700;
}
/*organization name*/
.organization {
  font-size: 20px;
  font-weight: 400;
  margin-top: 2px;
}
/*dates*/
.date {
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  margin-top: 2px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
/*description*/
.description {
  margin: 10px 0px 20px 0px;
}

/*lists for contact, skills, education*/
ul.menu {
  margin: 0px 0 auto;
  padding: 0px;
}
.menu li {
  display: inline;
}

li {
  font-size: 16px;
}
