.caption {
  font-style: italic;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 30px;
}
.img-fluid{
  max-width: 900px;
  width: 100%;
}

.headline {
  text-align: center;
  margin-top: 30px;
  font-family: 'Verdana', sans-serif;
}

.graphic-container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.graph-title{
  font-size: 20px;
  text-align: center;
  font-family: 'Verdana', sans-serif;
}
.blockquote {
  text-align: center;
  font-family: Geneva, sans-serif;
  font-size: 30px;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
  color: #adb2c6;
}

.byline {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
}

.chapter {
  font-family: 'Verdana', sans-serif;
}

.text{
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Verdana', sans-serif;
  font-size: 1em;
}

.page-footer {
  background-color: lightgrey;

}

.footer-copyright {
  font-size: 12px;
  font-family: 'Verdana', sans-serif;
}

.hero-image {
  padding-top: 30px;
}

.hero-caption {
  font-style: italic;
  font-size: 12px;
  margin-bottom: 30px;
}
