@media (min-width: 480px) {
  .container {
  margin-right: 20px;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
  p {
  margin-right: 20px;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;

}
  blockquote {
  margin-right: 20px;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.chapter{
  margin-right: 20px;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.graphic-container {
  margin-right: 20px;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.headline{
  margin-right: 20px;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.img-fluid{
  width: 100%;
  margin-top: 20px;
}
.graphic-container-map {
  width: 100%;
  margin-top: 20px;
}
}
.container {
  border-right: 1px solid #adb2c6;
  border-left: 1px solid #adb2c6;
  padding: 0;
  margin: auto;
}
.caption {
  text-align: center;
  font-style: italic;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 40px;
  font-family: 'Georgia', 'Times New Roman', serif;
}
.img-fluid{
  width: 100%;
  margin-top: 20px;
}
.nav-link{
  text-align: right;
}
.headline {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: 'Georgia', 'Times New Roman', serif;
  line-height: 1.30;
  font-size: 3em;
}
.byline {
  font-family: 'Georgia', 'Times New Roman', serif;
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
}
.chapter {
    font-family: 'Georgia', 'Times New Roman', serif;
    line-height: 1.50;
    font-size: 25px;
    font-weight: bold;
    color: #373636;
    margin-bottom: 15px;
    margin-top: 20px;
}
.text {
    font-family: 'Georgia', 'Times New Roman', serif;
    font-size: 1.25em;
    line-height: 1.75;
    margin-bottom: 20px;
    color: #373636;
}
.text-chatter {
  font-family: 'Georgia', 'Times New Roman', serif;
  font-size: 1em;
  line-height: 1.25;
  color: #373636;
  padding-left: 60px;
  padding-right: 60px;
  text-align: left;
}
.graphic-container {
  padding: 0;
  margin-top: 30px;
  margin-bottom: 20px;
}
.graphic-container-map {
  padding-top: 20px;
  padding-bottom: 30px;
}
.graph-title {
  font-size: 18px;
  text-align: left;
  font-family: 'Georgia', 'Times New Roman', serif;
  margin-top: 60px;
  margin-bottom: 10px;
  font-weight: 600;
  padding-left: 60px;
  padding-right: 60px;
}
.graph-spenders {
  font-size: 18px;
  text-align: left;
  font-family: 'Georgia', 'Times New Roman', serif;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  padding-left: 60px;
  padding-right: 60px;
}
.c3-chart-arc text {
    fill: black;
}
.blockquote {
  font-family: 'Roboto', serif;
  color: #A6ABAB;
  font-size: 30px;
  text-align: left;
  justify-content: center;
}
.blockquote-container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.page-footer {
  background-color: lightgrey;
}
.footer-copyright {
  font-size: 12px;
  font-family: 'Georgia', 'Times New Roman', serif;
}
.hero {
  position: relative;
  width:100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.hero-caption {
  font-family: 'Georgia', 'Times New Roman', serif;
  font-size: 1em;
  margin-bottom: 30px;
}
figcaption {
  text-align: center;
  font-family: 'Georgia', 'Times New Roman', serif;
  font-size: 14px;
}
/* unvisited link */
a:link {
  color: black;
  text-decoration: underline;
}
/* visited link */
a:visited {
  color: #373636;
}
/* mouse over link */
a:hover {
  color: #666666;
  text-decoration: underline;
}
/* selected link */
a:active {
  color: black;
  text-decoration: underline;
}
