body {
  font-family: 'PT Serif', serif;
  text-decoration: none;
}
a {
  color: #e0162b;
}
a:hover {
  color: #0052a5;
}
a:visited {
  color: #999;
}

.caption {
  font-style: italic;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 30px;
}

.headline {
  text-align: center;
  margin-top: 30px;
}

.byline {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
}

.h3 {
  font-family: Helvetica, sans-serif;
}

.text {
  margin-top: 20px;
  margin-bottom: 20px;
}

.page-footer {
  background-color: lightgrey;
}

.footer-copyright {
  font-size: 12px;
}

.hero-image {
  padding-top: 30px;
}

.hero-caption {
  font-style: italic;
  font-size: 12px;
  margin-bottom: 30px;
}
